/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*.table_buttons{*/
/*	position: absolute;*/
/*    top: 16%;*/
/*    left: 4%;*/
/*}*/
a{
  color: black ;
}
a:hover{
  color: black;
}
.all-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  height: 25px;
  width: 25px;
  background-color: #d9d5d5;
  border-radius: 4px;
  transition: all 0.3s linear 0s;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
  transition: all 0.3s linear 0s;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background: linear-gradient(-118deg, #7367f0, rgba(115, 103, 240, 0.7));
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  right: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 9px;
  right: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  background: rgba(16, 22, 58);
  height: 100%;
  display: flex;
  top: 0px;
  right: 0px;
  justify-content: center;
  align-items: center;
}

.imagesUploadBlock {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(38 44 73 / 45%);
  transition: all 0.3s linear 0s;
}

.uploadImg {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50%;
  background: #eee;
}

.uploadImg span i {
  color: #7367f0;
  font-size: 85px;
}

.uploadImg input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  display: none;
}

.uploadedBlock {
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 0;
  z-index: 9;
}

.uploadedBlock img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.uploadedBlock .close {
  position: absolute;
  top: 0;
  color: crimson;
  background: rgba(0, 0, 0, 0.5) !important;
  font-size: 25px;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  opacity: 1;
  left: 0;
  text-shadow: none;
  transition: all 0.3s linear 0s;
  transform: scale(0);
  border-radius: 50%;
}

.uploadedBlock:hover .close {
  transform: scale(1);
}

.imgMontg {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
}
/*.table_buttons{*/
/*	position: absolute !important;*/
/*	bottom: 0 !important;*/
/*	top: -10% !important;*/
/*	left: 0!important;*/
/*	margin-bottom: 25px !important;*/
/*}*/

/*#data-list-view{*/
/*	position: relative !important;*/
/*	!*margin-top: 5% !important;*!*/
/*}*/

/*  edit style */
.hasDatepicker {
  border: 1px solid #d9d9d9 !important;
  border-radius: 10px;
  overflow: hidden;
}

.data-list-view-header .table-responsive .top .dataTables_filter label::after {
  left: 15px;
}

body.dark-layout .dataTables_wrapper .dt-buttons .btn-secondary {
  background-color: #565966 !important;
}

.bookmark-wrapper a,
.bookmark-wrapper span {
  margin-left: 10px !important;
}

.navbar-header .nav-item {
  margin: 0 auto;
}

.navbar-header .navbar-brand {
  display: block;
  width: 165px;
  height: 70px;
  margin: 0 auto;
}
.navbar-header .navbar-brand .brand-logo {
  /* width: 165px !important;
	height: 75px !important; */
  object-fit: cover;
  background: transparent;
}
.main-menu .navbar-header .navbar-brand .brand-logo {
  background: none;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999999;
}
.align-center {
  align-items: center;
}
.align-center .card-body {
  min-height: 200px;
}
.hight-card .card {
  min-height: 575px;
}
.navigation {
  padding-top: 40px !important;
}

.btn-group .btn :hover {
  box-shadow: 0;
}

.btn-group .btn {
  margin-left: 15px;
  border-radius: 6px !important;
  transition: 0.3s;
}
.btn.btn-secondary:hover {
  box-shadow: 0 0 6px #c8cdd1;
}

.no-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 50px;
}
.no-data span {
  font-family: cairo;
  margin-top: 3px;
}

/* .notify-header{
	display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background: #131a44;
	border-radius: 5px ;
}

.notify-select-all{
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
} */

.notify-select-all span {
  margin: 0px 12px 0px 0px;
}

.notify-icons i {
  font-size: 20px;
}

/* add front-end css*/

@media (max-width: 425px) {
  .content-wrapper .content-body {
    padding-top: 30px;
  }
}

.weatherWidgetInner {
  margin-bottom: 30px;
}

/* add overflow-auto to section table*/

.table_content_append .position-relative {
  overflow: auto;
}

@media (max-width: 1024px) {
  .table_content_append .btn {
    white-space: nowrap;
    /*width: 100%;*/
    margin: 2px 0;
  }
}

.table_content_append .position-relative .table thead tr th,
.table_content_append .position-relative .table tbody tr td {
  white-space: nowrap;
}

/*loader css*/

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%,
  0% {
    transform: scale(1);
  }
}

.dropdown-language {
  position: relative !important;
}
.header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu::before {
  top: -1px;
}
@media (max-width: 767px) {
  .header-navbar .navbar-container .show .dropdown-menu {
    overflow: inherit;
  }
}

select.form-control:not([multiple="multiple"]) {
	background-position: calc(100% - (100% - 6px)) 16px, calc(100% - (100% - 20px)) 13px, 0 0;
}
.table_buttons .waves-effect {
  color: #fff !important;
}

/* edit img appended*/
.uploadedBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_coupon .btn-outline-success,
.delete_coupon .btn-outline-danger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  flex-direction: row-reverse;
}

@media (max-width: 550px) {
  .breadcrumb-text {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .breadcrumb-text a,
  .breadcrumb-text span {
    margin: 0 !important;
  }
  .breadcrumb-text .hint-slash {
    display: none;
  }

  .navbar-wrapper .navbar-container {
    padding: 0;
  }

  .resp-wrap-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 5px;
  }
  .resp-wrap-icon li.dropdown-language > a.nav-link,
  .resp-wrap-icon li a.dropdown-user-link {
    padding: 0 !important;
  }

  .header-navbar .navbar-container .bookmark-wrapper ul.nav li > a.nav-link {
    margin: 0 !important;
  }
  .navbar-wrapper .navbar-container {
    padding: 0 !important;
  }
  .header-navbar .navbar-container ul.nav li.dropdown .dropdown-menu {
    /*left: 0 !important;*/
    /*right: auto !important;*/
    /*transform: translateX(-60%) !important;*/
    min-width: 90px !important;
    width: 90px !important;
  }
  .dropdown .dropdown-menu .dropdown-item,
  .dropup .dropdown-menu .dropdown-item,
  .dropright .dropdown-menu .dropdown-item,
  .dropleft .dropdown-menu .dropdown-item {
    padding: 0.714rem 7px !important;
  }
}

.parent-input-date::after {
  content: "\f073";
  font-weight: 600;
  color: #535353;
  font-size: 15px;
  position: absolute;
  font-family: "FontAwesome";
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* margin-inline-start: 10px; */
}

.custom-input-date {
  padding-inline-start: 30px;
  font-size: 12px;
  background-color: #fff !important;
}

span.flatpickr-weekday {
  color: #7367f0 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  background: #7367f0 !important;
  border-color: #7367f0 !important;
}

body.vertical-layout.vertical-menu-modern.menu-expanded
  .main-menu
  .navigation
  li.has-sub
  > a:not(.mm-next):after {
  transform: rotate(0deg) scaleX(-1);
}

body.vertical-layout.vertical-menu-modern.menu-expanded
  .main-menu
  .navigation
  li.open
  > a:not(.mm-next):after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.main-menu .navbar-header {
  padding: 0 15px;
}

.main-menu ul.navigation-main {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link img {
  width: 45px;
  height: 45px;
  display: block;
  border: 1px solid #fff;
}

body.dark-layout .table td > a {
  color: #fff;
}

.product-action > span {
  width: 40px;
  height: 40px;
  display: inline-flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: #f2eeee;
}

.btn-searchTable {
    padding: 0px;
    display: flex;
    align-items: center;
    background: #f2eeee;
    color: #7367f0;
    margin: 10px 0;
    gap: 8px;
    border: none;
    border-radius: 50px;
    min-width: 88px;
}

.btn-searchTable > i{
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #7367f0;
    border-radius: 50%;
    outline: 3px solid #f8f8f8;
}


.searchTable {
  width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  background-color: #fff;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear 0s;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}

.searchTable .forma {
  flex-grow: 1;
  overflow: auto;
  padding: 15px;
}

.searchTable.active {
  transform: translateX(0);
}

.flatpickr-input[readonly] {
  opacity: 1 !important;
}

.card .card-header {
  padding: 13px 20px;
}

footer.footer {
  padding: 10px 2.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
}

.form-control,
.input-group .form-control {
  border: 1px solid transparent !important;
  height: calc(1.75rem + 1.4rem + 1px);
}

.form-control:focus,
.imagesUploadBlock:hover {
  border-color: #7367f0 !important;
}

.form-control,
.custom-file-label,
textarea.form-control {
  background-color: #eee;
}

.searchTable .form-control {
  background-color: #fff;
}

.form-control[name="iso"] {
	flex-grow: unset;
    width: 65px;
}
.form-control[name="iso"]::after{
	content: "/f107";
}

::-webkit-scrollbar,
body::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #ffffff;
  background: #ffffff;
}

::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  opacity: 0.4;
}
html body .content .content-wrapper {
  margin-bottom: 70px;
}
.modal .modal-header .close, body.dark-layout .modal .modal-header[class*='bg-'] .close {
  background: transparent !important;
  box-shadow: unset !important;
  margin: 0 !important;
  color: white !important;
}
/* new style */
.teacher-section .content {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .teacher-section .content {
    flex-direction: column;
  }
}
.teacher-section .content .teacher-img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  .teacher-section .content .teacher-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}
.teacher-section .content .information .top {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
  padding-bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .teacher-section .content .information .top {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.teacher-section .content .information .top .right .name {
  font-size: 20px;
  color: #202020;
  margin-bottom: 8px;
  font-family: fontDemi;
}
@media screen and (max-width: 576px) {
  .teacher-section .content .information .top .right .name {
    font-size: 18px;
  }
}
.teacher-section .content .information .top .right .department {
  font-size: 17px;
  color: #202020;
  margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
  .teacher-section .content .information .top .right .department {
    font-size: 16px;
  }
}
.teacher-section .content .information .top .left {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .teacher-section .content .information .top .left {
    gap: 10px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .teacher-section .content .information .top .left {
    gap: 5px;
  }
}
.teacher-section .content .information .top .left .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
  position: relative;
}
@media screen and (max-width: 576px) {
  .teacher-section .content .information .top .left .item {
    position: unset;
    padding: 8px 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
}
@media screen and (max-width: 425px) {
  .teacher-section .content .information .top .left .item {
    padding: 6px 10px;
  }
}
.teacher-section .content .information .top .left .item::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 1px;
  background-color: rgba(32, 32, 32, 0.3);
}
html[lang=en] .teacher-section .content .information .top .left .item::after {
  right: 0;
}
html[lang=ar] .teacher-section .content .information .top .left .item::after {
  left: 0;
}
@media screen and (max-width: 576px) {
  .teacher-section .content .information .top .left .item::after {
    display: none;
  }
}
.teacher-section .content .information .top .left .item:last-child {
  border: none;
}
.teacher-section .content .information .top .left .item:last-child::after {
  display: none;
}
.teacher-section .content .information .bottom {
  padding-top: 15px;
}
.teacher-section .content .information .bottom .title {
  font-size: 17px;
  font-family: fontDemi;
  color: #202020;
  margin-bottom: 12px;
}
.teacher-section .content .information .bottom .info {
  font-size: 15px;
  color: #202020;
  line-height: 1.6;
}
.teacher-section.sm .content .teacher-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.teacher-section.sm .content .information {
  width: 100%;
}


/********************* steps *********************/
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto 40px;
  max-width: 100%;
  width: 400px;
}
@media screen and (max-width: 576px) {
  .progress-container {
      width: 360px;
  }
}
@media screen and (max-width: 425px) {
  .progress-container {
      width: 320px;
  }
}

.progress-container::before {
  content: "";
  border: 1px dashed rgba(158, 160, 164, 0.4);
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translatex(-50%);
  width: calc(100% - 70px);
  z-index: -1;
}

.progress-item {
  position: relative;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.progress-item .circle {
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8BA78D;
  transition: 0.4s ease;
  color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
}
.progress-item .text {
  font-size: 14px;
  color: #202020;
}
.progress-item.active .circle {
  border-color: #8BA78D;
  color: #8BA78D;
}
.progress-item.active .text {
  color: #8BA78D;
}

.navigation.navigation-main {
  font-family: 'Cairo', sans-seri ;
  font-weight: 600;
}

.input-g {
  margin-bottom: 15px;
  display: block;
}

.main-label {
  margin-bottom: 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-label .label-hint {
  color: #060042;
  font-family: fontReg;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .main-label {
      font-size: 15px;
  }
}
@media screen and (max-width: 425px) {
  .main-label {
      font-family: fontMed;
      font-size: 15px;
  }
}

.main-input {
  position: relative;
}

.hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.main-input .input-me {
  width: 100%;
  min-height: 45px;
  border-radius: 8px;
  padding: 0 12px;
  outline: none;
  border: none;
  font-size: 14px;
  /*color: #060042;*/
  transition: all 0.3s ease;
  /*border: 1px solid linear-gradient(-30deg, #7367F0, rgba(115, 103, 240, 0.5));*/
  box-shadow: 0 0 5px 0 rgba(32, 32, 32, 0.1);
}
@media screen and (max-width: 425px) {
  .main-input .input-me {
      min-height: 44px;
  }
}
.main-input .input-me.photo-input {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ffffff4d;
}

body.dark-layout .form-control, .custom-file-label{
  background-color: #212744 !important;
}
.main-input .input-me::placeholder {
  font-size: 14px;
  color: #202020;
  transition: all 0.3s ease;
}
.main-input .input-me:focus {
  border-color: #202020;
}
.main-input .input-me:focus::placeholder {
  opacity: 0;
}
.main-input .input-me.text-area {
  height: 145px;
  padding: 12px;
}
.main-input .input-me.text-area.sm {
  height: 90px;
}
.main-input .input-me.text-area.lg {
  height: 230px;
}
.main-input .main-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 13px;
  cursor: pointer;
  pointer-events: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  max-width: 18px;
}
html[lang=en] .main-input .main-icon {
  right: 14px;
}
html[lang=ar] .main-input .main-icon {
  left: 14px;
}
.main-input .main-icon .ic {
  max-width: 18px;
  cursor: pointer;
}
.main-input .main-icon.search-ic {
  pointer-events: auto;
}
.main-input .main-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-210deg);
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background-color: #8BA78D;
  opacity: 0;
  transition: all 0.3s ease;
}
.main-input .main-icon.show::after {
  opacity: 1;
}
.main-input .sec-icon {
  position: absolute;
  top: 0;
  background-color: #8BA78D;
  font-size: 15px;
  border: none;
  outline: none;
  width: 50px;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  left: 0;
}
/*html[lang=en] .main-input .sec-icon {*/
/*    right: 0;*/
/*}*/
/*html[lang=ar] .main-input .sec-icon {*/
/*    left: 0;*/
/*}*/
html[lang=en] .main-input.form .input-me {
  padding-left: 40px;
}
html[lang=ar] .main-input.form .input-me {
  padding-right: 40px;
}
.main-input.form .main-icon {
  top: 22px;
  transform: unset;
  top: 13px;
  transform: unset;
  max-width: 20px;
  max-height: 18px;
}
html[lang=en] .main-input.form .main-icon {
  right: unset;
}
html[lang=ar] .main-input.form .main-icon {
  left: unset;
}
html[lang=en] .main-input.form .main-icon {
  left: 14px;
}
html[lang=ar] .main-input.form .main-icon {
  right: 14px;
}
.main-input.comment .input-me {
  min-height: 56px;
  box-shadow: unset;
}
@media screen and (max-width: 425px) {
  .main-input.comment .input-me {
      min-height: 50px;
  }
}
.main-input.comment .input-me.sm {
  min-height: 47px;
}
.main-input.comment .main-icon {
  top: 50%;
  transform: translateY(-50%);
}
.main-input.comment .sec-icon {
  width: 100px;
  border-radius: 0;
}
@media screen and (max-width: 425px) {
  .main-input.comment .sec-icon {
      width: 80px;
  }
}
html[lang=en] .main-input.comment .sec-icon {
  border-radius: 0 8px 8px 0 !important;
}
html[lang=ar] .main-input.comment .sec-icon {
  border-radius: 8px 0 0 8px !important;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.check-box:last-child {
  margin-bottom: 0;
}
.check-box.form-check-m {
  gap: 6px;
  margin-bottom: 0px;
}
.check-box input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
}
.check-box .check {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #7367F0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  flex-shrink: 0;
}
.check-box .check:hover {
  background-color: #fff;
}
.check-box.form-check-m .check {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.check-box input:checked + .check {
  background-image: linear-gradient(-30deg, #7367F0, rgba(115, 103, 240, 0.5));
  border-color: linear-gradient(-30deg, #7367F0, rgba(115, 103, 240, 0.5));
}
.check-box input:checked + .check::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
}
.check-box .check-text {
  font-size: 15px;
  cursor: pointer;
}
.check-box.form-check-m input:checked + .check {
  background-color: #060042;
}
.check-box.form-check-m input:checked + .check::after {
  color: #fff;
}
.check-box .check-anchor {
  cursor: pointer;
  color: #202020;
  font-size: 15px;
  line-height: 1.6;
}
.check-box .check-anchor a {
  color: #202020;
  text-decoration: underline;
  transition: all 0.3s ease;
  /*font-family: fontDemi;*/
}
.check-box .check-anchor a:hover {
  color: #060042;
}

.radio-box {
  display: flex;
  align-items: center;
  gap: 8px;
}
.radio-box:last-child {
  margin-bottom: 0;
}
.radio-box .input-radio {
  width: 18px;
  height: 18px;
  accent-color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.radio-box .label-radio {
  font-size: 16px;
  color: #202020;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  line-height: 1;
}
.radio-box .label-radio .radio-img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.radio-box.radio-imgs {
  align-items: center;
  gap: 6px;
}
.radio-box.radio-imgs .label-radio {
  font-size: 14px;
}

.gap-4{
  gap: 1.5rem!important
}

.gap-2{
  gap: .5rem!important
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 auto 40px;
  max-width: 100%;
  width: 400px;
}
@media screen and (max-width: 576px) {
  .progress-container {
      width: 360px;
  }
}
@media screen and (max-width: 425px) {
  .progress-container {
      width: 320px;
  }
}

.progress-container::before {
  content: "";
  border: 1px dashed rgba(158, 160, 164, 0.4);
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translatex(-50%);
  width: calc(100% - 70px);
  /*z-index: -1;*/
}

.progress-item {
  position: relative;
  transition: 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.progress-item .circle {
  background-color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7367F0;
  transition: 0.4s ease;
  color: transparent;
  margin-bottom: 10px;
  font-size: 15px;
}
.progress-item .text {
  font-size: 14px;
  color: rgba(158, 160, 164, 0.4);
}
.progress-item.active .circle {
  border-color: #7367F0;
  color: #7367F0;
}
.progress-item.active .text {
  color: #7367F0;
}


.table-container {
  overflow-x: auto;
  padding-bottom: 12px !important;
}
.table-container::-webkit-scrollbar {
  height: 4px;
}
.table-container::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.table-container::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #8BA78D;
}

.main-table {
  border: 1px solid rgba(32, 32, 32, 0.2);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.main-table thead th {
  padding: 10px 15px;
  border: 1px solid rgba(32, 32, 32, 0.2);
}
.main-table thead th .head {
  background-color: #8BA78D;
  border-radius: 7px;
  color: #fff;
  text-align: center;
  display: block;
  width: fit-content;
  padding: 8px 12px;
  min-width: 100px;
  font-size: 15px;
  font-weight: 500;
  margin: auto;
}
.main-table tbody td {
  padding: 14px 15px;
  text-align: center;
  border: 1px solid rgba(32, 32, 32, 0.2);
  font-size: 15px;
  /*color: #202020;*/
}
.main-table tbody td.sort_ic {
  cursor: move;
}
.main-table tbody td.td-buttons {
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-table tbody td.td-buttons .td-btn {
  background-color: transparent;
  flex: 1;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
  padding: 14px 7px;
  height: 48px;
  width: 48px;
  flex-shrink: 0;
}
html[lang=en] .main-table tbody td.td-buttons .td-btn {
  border-right: 1px solid rgba(32, 32, 32, 0.2);
}
html[lang=ar] .main-table tbody td.td-buttons .td-btn {
  border-left: 1px solid rgba(32, 32, 32, 0.2);
}
.main-table tbody td.td-buttons .td-btn .ic {
  max-width: 24px;
  max-height: 22px;
}
html[lang=en] .main-table tbody td.td-buttons .td-btn:last-child {
  border-right: 0;
}
html[lang=ar] .main-table tbody td.td-buttons .td-btn:last-child {
  border-left: 0;
}
.main-table tbody tr {
  transition: all 0.3s ease;
  /*background-color: #fff;*/
}
.main-table tbody tr:last-child td.td-buttons .td-btn {
  border-bottom: 0;
}
.main-table.sec-table thead {
  border: 1px solid rgba(139, 167, 141, 0.7);
}
.main-table.sec-table thead th {
  padding: 10px 15px;
  border: none;
  font-weight: 500;
  text-align: center;
}
.main-table.sec-table tbody td {
  padding: 14px 15px;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
  font-size: 15px;
  /*color: #202020;*/
}

body.dark-layout .table.sec-table tbody tr td{
  background-color: transparent;
}
.table .delete-btn {
  display: inline-flex !important;
}
.main-table.sec-table tbody td .delete-btn .ic {
  max-width: 24px;
  max-height: 22px;
}
.delete-btn .ic {
  max-width: 24px;
  max-height: 22px;
}
.main-table.sec-table tbody td .ic-bar {
  max-width: 32px;
}
.main-table.sec-table tbody td .course-page-img {
  width: 250px;
}
.main-table.three-table thead th {
  text-align: start;
}
.main-table.three-table tbody tr:nth-child(even) {
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
}
.main-table.three-table tbody td {
  border-bottom: none !important;
}
.main-table.three-table tbody td:first-child {
  text-align: start;
}
.main-table.no-border {
  border: none;
  border-radius: 0;
}
.main-table.no-border thead {
  border: none;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
}
.main-table .is-dragging {
  background-color: #f0f0f0;
  opacity: 0.5;
}

.table-m {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
}

body.dark-layout .table-m{
  background-color: #212744;
}
.table-m .table-head {
  padding: 12px;
  flex-shrink: 0;
}

.rounded-3 {
  border-radius: 0.6rem !important;
}

.main-shadow {
  box-shadow: 0 0 5px 0 rgba(32, 32, 32, 0.1);
}

.up:hover,
.up:focus {
  -webkit-box-shadow: inset 0 -4.25em 0 0 var(#fff);
  box-shadow: inset 0 -4.25em 0 0 #fff;
  color: #8BA78D !important;
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  min-width: 160px;
  background-color: #8BA78D;
  border: 1px solid #8BA78D;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  height: 44px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .main-btn {
      height: 45px;
      font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .main-btn {
      min-width: 132px;
  }
}
.main-btn.yellow-transparent {
  background-color: transparent;
  color: #202020;
  border-color: #EEDA8D;
}
.main-btn.yellow-transparent:hover {
  background-color: #EEDA8D;
  color: #fff;
}
.main-btn.red {
  background-color: #D93F21;
  color: #fff;
  border-color: #D93F21;
}
.main-btn.white {
  background-color: #fff;
  color: #202020;
  border-color: #202020;
}
.main-btn.white:hover {
  background-color: #202020;
  color: #fff;
}
.main-btn.transparent {
  background-color: #fff;
  color: #202020;
  border-color: #8BA78D;
}
.main-btn.transparent:hover {
  background-color: #8BA78D;
  color: #fff;
}
.main-btn.sm {
  min-width: 120px;
  font-size: 14px;
  height: 44px;
}
.main-btn.xs {
  width: 80px;
  font-size: 13px;
  height: 32px;
}
.main-btn.md {
  min-width: 190px;
  height: 46px;
  font-size: 16px;
}
.main-btn.lg {
  width: 210px;
  font-size: 16px;
  height: 46px;
}
@media screen and (max-width: 576px) {
  .main-btn.lg {
      font-size: 16px;
      width: 140px;
      height: 48px;
  }
}
@media screen and (max-width: 425px) {
  .main-btn.lg {
      font-size: 15px;
      width: 130px;
      height: 47px;
  }
}
@media screen and (max-width: 375px) {
  .main-btn.lg {
      width: 120px;
      height: 45px;
  }
}
.main-btn.xl {
  width: 250px;
  height: 54px;
  font-size: 18px;
  border-radius: 8px;
}
@media screen and (max-width: 576px) {
  .main-btn.xl {
      width: 200px;
      height: 48px;
      font-size: 16px;
      border-radius: 8px;
  }
}
.main-btn .ic {
  max-width: 15px;
  max-height: 13px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 14px;
}
.buttons.lg {
  gap: 10px 23px;
}
@media screen and (max-width: 576px) {
  .buttons .main-btn {
      width: fit-content;
      min-width: 150px;
      padding: 0 12px;
  }
}
@media screen and (max-width: 425px) {
  .buttons .main-btn {
      width: fit-content;
      min-width: 130px;
      height: 44px;
  }
}

.sm-btn {
  background-color: #8BA78D;
  font-size: 15px;
  border: none;
  outline: none;
  width: 50px;
  height: 45px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.delete-btn {
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  color: #7367F0;
  font-size: 15px;
  cursor: pointer
}


.course-page-img {
  height: 260px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.course-page-img.sm {
  height: 180px;
}
.course-page-img.md {
  height: 310px;
}
.course-page-img.lg {
  height: 380px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .course-page-img {
      height: 220px !important;
  }
}
.course-page-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.course-page-img .video {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #8BA78D;*/
  z-index: 5;
  background: #640064;
  color: #FFFFFF;
  background-image: -webkit-linear-gradient(120deg, #7367F0, rgba(115, 103, 240, 0.5));
  background-image: linear-gradient(-30deg, #7367F0, rgba(115, 103, 240, 0.5));
  background-repeat: repeat-x;
}

.course-page-img .video .ic  {
  max-width: 22px;
}


.file-item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  box-shadow: 0 0 5px 0 rgba(32, 32, 32, 0.1);
  border:1px solid #ffffff4d;
}
@media screen and (max-width: 425px) {
  .file-item {
      padding: 12px;
  }
}
.file-item:last-child {
  margin-bottom: 0;
}
.file-item .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.file-item .right .file-name {
  font-size: 15px;
  color: #7367F0;
}
@media screen and (max-width: 425px) {
  .file-item .right .file-name {
      font-size: 14px;
  }
}
.file-item .right .file-ic {
  max-width: 20px;
  max-height: 20px;
}
.file-item .file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 90px;
  background-color: #8BA78D;
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 5px;
}
.file-item .file-btn .download-ic {
  max-height: 20px;
  max-width: 14px;
}


/********************* Bootstrap Modal *********************/
.modal::-webkit-scrollbar {
  width: 4px;
}

.modal::-webkit-scrollbar-track {
  background: #D9D9D9;
}

.modal::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #8BA78D;
}

.modal-dialog {
  min-width: 560px;
}
.modal-dialog.lg {
  min-width: 640px;
}
.modal-dialog.lg .modal-content {
  border-radius: 12px;
  padding: 40px 90px 45px;
}
.modal-dialog.lg .modal-content .modal-body {
  padding: 0;
}
@media screen and (max-width: 992px) {
  .modal-dialog.lg .modal-content {
      padding: 40px 50px;
  }
}
@media screen and (max-width: 576px) {
  .modal-dialog.lg .modal-content {
      padding: 40px 30px;
  }
}
@media screen and (max-width: 375px) {
  .modal-dialog.lg .modal-content {
      padding: 40px 15px;
  }
}
@media (max-width: 768px) {
  .modal-dialog {
      margin: auto;
      min-width: calc(100% - 20px) !important;
  }
}
.modal-dialog .close-btn {
  position: absolute;
  top: 15px;
  background-color: transparent;
  padding: 0;
  line-height: 1;
  color: #060042;
  font-size: 24px;
  cursor: pointer;
}
html[lang=en] .modal-dialog .close-btn {
  right: 18px;
}
html[lang=ar] .modal-dialog .close-btn {
  left: 18px;
}
.modal-dialog .print-modal {
  background-color: transparent;
  font-size: 17px;
  color: #202020;
  padding: 0;
  cursor: pointer;
}
.modal-dialog .print-modal .print-icon {
  max-width: 27px;
  max-height: 32px;
}
.modal-dialog .close-modal {
  background-color: transparent;
  font-size: 16px;
  color: #202020;
  padding: 0;
}
.modal-dialog .head-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-dialog .head-btns .close-modal {
  color: #202020;
}
.modal-dialog .modal-content {
  padding: 40px 0px 45px;
  align-items: center;
  border-radius: 8px;
}
.modal-dialog .modal-content.print {
  padding: 30px 0px 30px;
}
@media (max-width: 576px) {
  .modal-dialog .modal-content {
      width: calc(100% - 15px);
      margin: 15px auto;
  }
}
.modal-dialog .modal-content .content-model-me {
  width: 100%;
}
.modal-dialog .modal-content .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: start !important;
  gap: 10px;
  border-bottom: none;
  margin-bottom: 25px;
  position: relative;
  flex: 1 1 auto;
  padding: 0px 20px 0;
  width: 100%;
  background-color: transparent !important;
}
.modal-dialog .modal-content .modal-header .modal-title {
  font-size: 17px;
  /*font-family: fontDemi;*/
  color: #202020;
  margin-bottom: 0;
}
.modal-dialog .modal-content .modal-header .modal-img {
  max-width: 90px;
  max-height: 110px;
  margin: auto;
}
.modal-dialog .modal-content .modal-header .modal-img.lg {
  width: 190px;
  height: 85px;
}
@media screen and (max-width: 576px) {
  .modal-dialog .modal-content .modal-header .modal-img {
      max-width: 65px;
      max-height: 95px;
  }
}
.modal-dialog .modal-content .modal-body {
  width: 100%;
  padding: 0 80px;
}
.modal-dialog .modal-content .modal-body.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 28px;
}
@media screen and (max-width: 425px) {
  .modal-dialog .modal-content .modal-body {
      padding: 0 20px;
  }
}
.modal-dialog .modal-content .modal-body .modal-title {
  font-size: 16px;
  color: #000;
  text-align: center;
  margin-bottom: 18px;
}
.modal-dialog .modal-content .modal-body .modal-text {
  font-size: 15px;
  color: #000;
  text-align: center;
  /*font-family: fontDemi;*/
  margin-bottom: 20px;
}
.modal-dialog .modal-content .modal-body .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.modal-dialog .modal-content .modal-body .items .modal-item {
  background-color: transparent;
  width: 100%;
  border: 1px solid #8BA78D;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  height: 50px;
  padding: 0px 12px;
}
.modal-dialog .modal-content .modal-body .items .modal-item .img {
  max-width: 18px;
  max-height: 18px;
}
.modal-dialog .modal-content .modal-body .items .modal-item .text {
  font-size: 15px;
  color: #8BA78D;
}
.modal-dialog .modal-content .modal-body .items .modal-item .input-modal {
  width: 100%;
  height: 100%;
}
.modal-dialog .modal-content .modal-body .items .modal-item .input-modal::placeholder {
  font-family: fontReg;
}
.modal-dialog .modal-content .modal-body .modal-img-body {
  width: 180px;
  height: 160px;
  display: block;
}
.modal-dialog .modal-content .modal-footer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  padding: 0;
  border-top: none;
  gap: 15px;
}
.modal-dialog .modal-content .modal-footer * {
  margin: 0;
}
.modal-dialog .modal-content .modal-footer .main-btn {
  margin: 0;
  min-width: 190px;
}
.modal-dialog .modal-content .modal-footer .social-ic .ic {
  max-width: 45px;
  max-height: 45px;
}
.modal-dialog .modal-content .login-btn {
  min-height: 50px;
  border-radius: 10px;
}

.modal-img-p {
  width: 100%;
  height: 140px;
  object-fit: cover;
}


.file-con {
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #060042;
  padding: 8px 12px;
  font-size: 14px;
  width: fit-content;
  cursor: pointer;
  background-color: #D9D9D9;
  position: relative;
}
.file-con .close {
  color: #202020;
}

/********************* Start FAQ section *********************/
.faq-collapse {
  margin-bottom: 25px;
}
.faq-collapse .faq-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  /*background-color: #fff;*/
  /*color: #202020;*/
  /*font-size: 16px;*/
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid #ffffff4d;
  box-shadow: 0 0 5px 0 rgba(32, 32, 32, 0.1);
}
.faq-collapse .faq-open i {
  transition: all 0.3s ease;
}
@media screen and (max-width: 425px) {
  .faq-collapse .faq-open {
      font-size: 15px;
      padding: 12px;
  }
}
.faq-collapse.active .faq-open {
  box-shadow: 0 0 5px 0 rgba(32, 32, 32, 0.1);
}
.faq-collapse.active .faq-open i {
  transform: rotateX(180deg);
}
.faq-collapse .faq-content {
  padding: 20px 10px;
  /*color: #202020;*/
  font-size: 15px;
  line-height: 1.7;
  display: none;
}
@media screen and (max-width: 425px) {
  .faq-collapse .faq-content {
      font-size: 14px;
      padding: 12px 5px;
  }
}
/* new style */
.course-page-img {
  height: 260px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.course-page-img.sm {
  height: 180px;
}
.course-page-img.md {
  height: 310px;
}
.course-page-img.lg {
  height: 380px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .course-page-img {
      height: 220px !important;
  }
}
.course-page-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.course-page-img .video {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8BA78D;
  z-index: 5;
}
.course-page-img .video .ic {
  max-width: 20px;
}

.course-detailes .content .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .course-detailes .content .right {
      gap: 14px;
  }
}
.course-detailes .content .right .name {
  font-size: 18px;
  color: #202020;
}
@media screen and (max-width: 576px) {
  .course-detailes .content .right .name {
      font-size: 16px;
  }
}
.course-detailes .content .right .link {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 992px) {
  .course-detailes .content .right .link {
      width: fit-content;
  }
}
.course-detailes .content .right .teacher-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  .course-detailes .content .right .teacher-img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
  }
}
.course-detailes .content .right .teacher-info .teacher-name {
  font-size: 17px;
  margin-bottom: 8px;
  color: #202020;
}
@media screen and (max-width: 576px) {
  .course-detailes .content .right .teacher-info .teacher-name {
      font-size: 15px;
  }
}
@media screen and (max-width: 576px) {
  .course-detailes .content .right .star {
      font-size: 15px;
  }
}
.course-detailes .content .center {
  display: flex;
  align-items: center;
  gap: 20px 15px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(32, 32, 32, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .course-detailes .content .center {
      flex-direction: column;
  }
}
.course-detailes .content .center .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px 10px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .course-detailes .content .center .items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
      gap: 12px 10px;
  }
}
.course-detailes .content .center .items .item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #202020;
  font-size: 14px;
}
.course-detailes .content .center .items .item .item-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-detailes .content .center .items .item .item-img .img {
  max-width: 20px;
  max-height: 20px;
}
.course-detailes .content .center .price-item {
  border: 1px solid rgba(139, 167, 141, 0.9);
  padding: 15px;
  flex-shrink: 0;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .course-detailes .content .center .price-item {
      flex-direction: row;
      padding: 10px 15px;
  }
}
@media screen and (max-width: 768px) {
  .course-detailes .content .center .price-item .num {
      color: #8BA78D;
      text-decoration: underline;
  }
}
.course-detailes .content .left {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .course-detailes .order-m {
      order: 3 !important;
  }
}
/********************* Tabs *********************/
.nav {
  gap: 12px;
}
@media screen and (max-width: 576px) {
  .nav {
      gap: 8px;
  }
}
.nav.nav-mb {
  margin-bottom: 0 !important;
}
.nav.border-m {
  border-bottom: 1px solid #D9D9D9;
}
.nav.nav-pills .nav-link {
  min-width: 160px;
  color: #202020;
  border: 1px solid #060042;
  font-size: 14px;
  border-radius: 5px;
  font-family: fontMed;
  padding: 12px 15px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .nav.nav-pills .nav-link {
      min-width: auto;
  }
}
@media screen and (max-width: 576px) {
  .nav.nav-pills .nav-link {
      font-size: 13px;
      padding: 10px 10px;
  }
}
.nav.nav-pills .nav-link.sm {
  min-width: 120px;
}
.nav.nav-pills .nav-link.active, .nav.nav-pills .nav-link:hover {
  background-color: #060042;
  color: #fff;
}
.nav.nav-pills .nav-link.color-none {
  min-width: auto;
  background-color: transparent;
  font-size: 16px;
  border-radius: 0;
  padding: 5px;
}
@media screen and (max-width: 425px) {
  .nav.nav-pills .nav-link.color-none {
      font-size: 14px;
  }
}
.nav.nav-pills .nav-link.color-none.active, .nav.nav-pills .nav-link.color-none:hover {
  background-color: transparent;
  color: #8BA78D;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tabs .tab {
  background-color: transparent;
  font-size: 15px;
  color: #202020;
  padding: 10px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: none;
}
.tabs .tab:hover {
  color: #8BA78D;
}
.tabs .tab.active {
  background-color: #8BA78D;
  color: #fff;
}
/* component */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
  gap: 48px 40px;
}
@media screen and (max-width: 992px) {
  .grid-2 {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: 24px 20px;
  }
}
@media screen and (max-width: 576px) {
  .grid-2 {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
      gap: 24px 20px;
  }
}
.grid-2.g-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px 20px;
}

.grid-p {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 54px 45px;
}

.grid-s {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px 20px;
}

.d-flex-c {
  display: flex;
  align-items: center;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ps-2 {
  padding-right: 0.5rem!important;
}
.gap-3 {
  gap: 1rem!important;
}
.pe-4 {
  padding-left: 1.5rem!important;
}
/* accordion  */

.accordion-collapse .dropdown-menu {
  display: none;
}

.accordion-collapse.show .dropdown-menu {
  display: block;
}

.accordion-item {
  border: none;
  margin-bottom: 15px;
}
.accordion-item:last-child {
  margin-bottom: 0;
}
.accordion-item .accordion-button {
  border: 1px solid rgba(32, 32, 32, 0.05);
  border-radius: 5px !important;
  padding: 8px 15px;
}
.accordion-item .accordion-button::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  background-image: none !important;
  font-weight: 600;
}
.accordion-item .accordion-button:not(.collapsed) {
  box-shadow: 0 0 5px 0 rgba(32, 32, 32, 0.1);
  background-color: #fff;
  color: #202020;
}
@media screen and (max-width: 992px) {
  .accordion-item .accordion-button {
      align-items: start;
  }
}
.accordion-item .accordion-body {
  padding: 20px 35px 5px;
}
@media screen and (max-width: 992px) {
  .accordion-item .accordion-body {
      padding: 20px 5px 5px;
  }
}
.accordion-item .accordion-body .acc-item {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 5px 1px rgba(32, 32, 32, 0.1);
}
.accordion-item .accordion-body .acc-item:last-child {
  margin-bottom: 0;
}
.accordion-item:last-child .accordion-button {
  margin-bottom: 0;
  width: 100%;
  font-size: 15px;
}

.acc-item {
  background-color: #fff;
}
.acc-item.row {
  margin: 0;
}
.acc-item .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .acc-item .right {
      align-items: start;
  }
}
@media screen and (max-width: 425px) {
  .acc-item .right {
      align-items: start;
      flex-direction: column;
      gap: 12px;
  }
}
.acc-item .right .first .name {
  font-size: 16px;
  color: #202020;
  margin-bottom: 8px;
  display: block;
}
@media screen and (max-width: 768px) {
  .acc-item .right .first .name {
      font-size: 14px;
      margin-bottom: 5px;
  }
}
.acc-item .right .first .info {
  font-size: 15px;
  color: #202020;
}
@media screen and (max-width: 768px) {
  .acc-item .right .first .info {
      font-size: 14px;
  }
}
.acc-item .right .price {
  font-size: 14px;
  color: #fff;
  min-width: 60px;
  background-color: #8BA78D;
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.acc-item .right .price .ic {
  font-size: 15px;
  color: #fff;
  max-width: 15px;
}
@media screen and (max-width: 768px) {
  .acc-item .right .price {
      min-width: 54px;
  }
}
.acc-item .left .show-anchor {
  background-color: transparent;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.acc-item .left .show-anchor .video-ic {
  max-width: 15px;
}
.accordion-item .accordion-body .acc-item{
  padding-bottom: 0 !important;
  padding: 10px !important;
}
.course-detailes .content{
  margin: 0 !important;
  margin-top: 20px !important;
}
.stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
.stars .star {
  font-size: 17px;
  color: #EEDA8D;
}
.stars.lg {
  gap: 5px;
}
.stars.lg .star {
  font-size: 19px;
}
/* comment */
.comment-item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 25px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.comment-item .user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment-item .user .user-img {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  .comment-item .user .user-img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
  }
}
.comment-item .user .user-info .user-name {
  font-size: 16px;
  margin-bottom: 8px;
  color: #202020;

}
@media screen and (max-width: 576px) {
  .comment-item .user .user-info .user-name {
      font-size: 15px;
  }
}
.comment-item .comment-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.comment-item .comment-btns .comment-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0;
  border: none;
}
.comment-item .comment-btns .comment-btn .ic {
  max-width: 18px;
}
.comment-item .comment-btns .comment-btn .text {
  font-size: 15px;
  color: #202020;
}
.comment-item.sm {
  margin: 20px 25px 0;
  border-top: 1px solid #f3f3f3;
  padding-top: 15px;
}
.comment-item.sm .user {
  gap: 7px;
}
.comment-item.sm .user .user-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 576px) {
  .comment-item.sm .user .user-img {
      border-radius: 50%;
      width: 34px;
      height: 34px;
  }
}
.comment-item.sm .user .user-info .user-name {
  font-size: 15px;
}
@media screen and (max-width: 576px) {
  .comment-item.sm .user .user-info .user-name {
      font-size: 14px;
  }
}
.comment-item.sm .user .user-info .info {
  font-size: 14px;
}
.comment-item.sm .comment-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}
.comment-item.sm .comment-btns .comment-btn {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0;
}
.comment-item.sm .comment-btns .comment-btn .ic {
  max-width: 18px;
}
.comment-item.sm .comment-btns .comment-btn .text {
  font-size: 15px;
  color: #202020;
}

.table-m {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
}
.table-m .table-head {
  padding: 12px;
  flex-shrink: 0;
}
p.info , span.info{
  color: black !important;
}

